{:paths ["src" "resources"]

 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        org.clojure/tools.cli {:mvn/version "1.1.230"}
        metosin/malli {:mvn/version "0.16.4"}
        metosin/jsonista {:mvn/version "0.3.13"}
        metosin/reitit-ring {:mvn/version "0.7.2"}
        ring/ring-core {:mvn/version "1.13.0"}
        ring/ring-jetty-adapter {:mvn/version "1.13.0"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.3.955"}
        com.zaxxer/HikariCP {:mvn/version "6.2.1"}}

 :aliases
 {:drivers {:extra-deps {com.h2database/h2      {:mvn/version "2.3.232"}
                         org.xerial/sqlite-jdbc {:mvn/version "3.46.1.3"}
                         org.slf4j/slf4j-nop    {:mvn/version "2.0.16"}}}

  :dev {:extra-paths ["dev" "test"]
        :extra-deps {com.h2database/h2      {:mvn/version "2.3.232"}
                     org.xerial/sqlite-jdbc {:mvn/version "3.46.1.3"}
                     org.slf4j/slf4j-nop    {:mvn/version "2.0.16"}}}

  :test {:extra-paths ["test"]
         :extra-deps {com.h2database/h2      {:mvn/version "2.3.232"}
                      org.xerial/sqlite-jdbc {:mvn/version "3.46.1.3"}
                      org.slf4j/slf4j-nop    {:mvn/version "2.0.16"}
                      lambdaisland/kaocha    {:mvn/version "1.91.1392"}}
         :main-opts ["-m" "kaocha.runner"]}

  :coverage {:extra-paths ["test"]
             :extra-deps {com.h2database/h2      {:mvn/version "2.3.232"}
                          org.xerial/sqlite-jdbc {:mvn/version "3.46.1.3"}
                          org.slf4j/slf4j-nop    {:mvn/version "2.0.16"}
                          cloverage/cloverage    {:mvn/version "1.2.4"}}
             :main-opts ["-m" "cloverage.coverage"
                         "-p" "src" "-s" "test"
                         "--fail-threshold" "85"
                         "--codecov"]}

  :run {:extra-deps {com.h2database/h2      {:mvn/version "2.3.232"}
                     org.xerial/sqlite-jdbc {:mvn/version "3.46.1.3"}
                     org.slf4j/slf4j-nop    {:mvn/version "2.0.16"}}
        :main-opts ["-m" "hypermedia.main"]}}}
