#kaocha/v1
{:tests [{:id          :unit
          :test-paths  ["test"]
          :ns-patterns [".*-test$"]
          :skip        [hypermedia.e2e-test hypermedia.concurrency-test hypermedia.package-test]}
         {:id          :e2e
          :test-paths  ["test"]
          :ns-patterns ["e2e-test$" "concurrency-test$" "package-test$"]}]
 :reporter kaocha.report/dots
 :color? false}
